
.footer {
    background-color: rgb(28, 95, 210);
    color: white;
    height: 492px;
    padding: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
  
  .leftContainer,
  .middleContainer,
  .rightContainer {
    flex: 1;
    padding: 20px;
  }
  
 
  .megaMart {
    font-size: 24px;
  }
  
  .megaMart h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .contactItem,
  .search {
  
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .downloadApp {
    margin-top: 20px;
    margin-top: 50px;
  }
  
  .appImages {
    display: flex;
    gap: 10px;
    margin-top: 20px;
   
  }
  
  
  .middleContainer h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .divider {
    width: 50px;
    height: 2px;
    background-color: white;
    margin: 10px 0;
  }
  
  .categories {
    list-style-type: none;
    padding: 15px;
  }
  
  .categories li {
    margin: 5px 0;
    padding: 10px;
  }
  
  
  .rightContainer h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .services {
    list-style-type: none;
    padding: 15px;

  }
  
  .services li {
    margin: 5px 0;
    padding: 15px;
  }
  
  .footerBottom {
   
    text-align: center;
    font-size: 14px;
  }
  
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .leftContainer,
    .middleContainer,
    .rightContainer {
      width: 100%;
      padding: 10px;
    }
  
    .footerBottom {
      margin-top: 30px;
    }
  }
  